@media only screen and (max-width: 645px){
  body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
  }

  #barra{
    height: 60px;
    width: 100%;
    background-color: #FF2C9C;
  }

  #atras{
    position: absolute;
    width: 20px;
    height: auto;
    margin-top: 15px;
    margin-left: 20px;
  }

  h1{
    padding: 0;
    text-align: center;
    line-height: 60px;
    margin-top: 0px;
    color: white;
    font-size: 25px;
  }

  #contingut{
    margin-top: 0px;
  }

  #contacts{
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  #contacts:hover{
    opacity: 0.8;
  }

  .nom{
    width: 100%;
    height: 70px;
    background-color: white;
    border-top: solid 1px darkgrey;
  }

  h3{
    margin: 0;
    padding: 0;
    margin-left: 75px;
    margin-top: 13px;
    color: #173D7A;
  }

  p{
    margin: 0;
    padding: 0;
    margin-left: 75px;
    color: black;
  }

  #online{
    height: 15px;
    width: 15px;
    background-color: lightgreen;
    border-radius: 50%;
    float: right;
    margin-top: -43px;
    margin-right: 10px;
    padding: 0;
  }

  #contingut img{
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid grey;
  }

  a{
    text-decoration: none;
  }





}
