@media only screen and (min-width: 1200px){

  body{
    background-color: white;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
  }

  #back{
    width: 100%;
    border-radius: 0 0 330px 330px;
    filter: blur(1px);
    margin-top: -650px;
  }

  #atras{
    position: absolute;
    width: 20px;
    top: 30px;
    left: 30px;
    z-index: 1000000;
  }

  #pro{
    border-radius: 50%;
    height: 230px;
    width: 230px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: -280px;
    z-index: 1000;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 9px 20px 0 rgba(0, 0, 0, 2);
  }

  h3{
    text-align: center;
    margin-top: 50px;
    z-index: 1000;
    position: relative;
    color: black;
    font-size: 30px;
  }

  h5{
    text-align: center;
    margin-top: -25px;
    z-index: 1000;
    position: relative;
    color: black;
    font-size: 20px;
  }

  #contenidor_descripcio{
    width: 70%;
    margin: 0 auto;
  }

  #submenu{
    width: 75%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    margin-top: -10px;
    border-top: 2px solid lightgrey;
    font-size: 20px;
  }

  ul{
    margin-left: 0;
    padding-left: 0;
  }

  #submenu .cv{
    display: inline-block;
    color: #222222;
    line-height: 25px;
    padding-left: 240px;
    width: 80px;
  }

  a{
    text-decoration: none;
    color: #555;
  }
  a:active,{
  border-top: 2px solid #E53988;
  color: #E53988;
  text-decoration: none;
  }

  a:hover {
    border-top: 2px solid #E53988;
    padding-top: 20px;
    color: #E53988;
    opacity: 1;
  }

  a:visited{
    display: inline-block;
    text-decoration: none;
    border-top: 2px solid;
  }
  a.current:focus{
    border-top: 2px solid #E53988;
    padding-top: 20px;
    color: #E53988;
    opacity: 1;
  }

  p{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 20px;
    z-index: 1000;
    position: relative;
    margin-top: 50px;
  }












}








@media only screen and (max-width: 645px){

  body{
    background-color: white;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
  }

  #back{
    height: 220px;
    width: 100%;
    border-radius: 0 0 230px 230px;
    background-size: contain;
    filter: blur(1px);
  }

  #atras{
    position: absolute;
    width: 20px;
    top: 20px;
    left: 20px;
    z-index: 1000000;
  }

  #pro{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: -200px;
    z-index: 1000;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 9px 20px 0 rgba(0, 0, 0, 2);
  }

  #contenidor_descripcio{
    width: 90%;
    margin: 0 auto;
  }

  h3{
    text-align: center;
    margin-top: 10px;
    z-index: 1000;
    position: relative;
    color: white;
  }

  h5{
    text-align: center;
    margin-top: -15px;
    z-index: 1000;
    position: relative;
    color: white;
    font-size: 15px;
  }

  p{
    margin-left: 25px;
    margin-right: 25px;
    font-size: 15px;
    z-index: 1000;
    position: relative;
    margin-top: 80px;
  }


  #submenu{
    width: 75%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    border-top: 2px solid lightgrey;
  }

  ul{
    margin-left: 0;
    padding-left: 0;
    text-align: center;
  }

  #submenu .cv{
    display: inline-block;
    color: #222222;
    text-align: center;
    line-height: 20px;
    padding-left: 2px;
    width: 80px;
  }

  a{
    text-decoration: none;
    color: #555;
  }
  a:active,{
  border-top: 2px solid #E53988;
  color: #E53988;
  text-decoration: none;
  }

  a:hover {
    border-top: 2px solid #E53988;
    padding-top: 16px;
    color: #E53988;
    opacity: 1;
    padding-top: 16px;
  }

  a:visited{
    display: inline-block;
    text-decoration: none;
    border-top: 2px solid;
  }
  a.current:focus{
    border-top: 2px solid #E53988;
    padding-top: 16px;
    color: #E53988;
    opacity: 1;
    padding-top: 16px;
  }

}
